body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0;
    
}

.header, .hero, .footer {
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 15px;
}

.links, .link, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}

.button1 {
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    border-radius: 7px;
    border-width: 0px;
    padding: 10px 50px;
    margin-top: 10px;
    
}

.information {
    margin: 50px;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 30px
} 

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.card {
    max-width: 205px;
}

.quote {
    background-color: #E5E7EB;
    padding-left: 200px;
    padding-right: 200px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding-top: 100px;
}

.author {
    text-align: right;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 100px;
}

.bottom {
    display: flex;
    align-self: center;
    justify-content: space-between  ;
    align-items: center;
    background-color: #3882F6;
    padding: 60px;
    border-radius: 7px;
    margin: 100px;
    gap: 100px;
}

.button2 {
    border-color: white;
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    border-radius: 7px;
    border-width: 3px;
    padding: 10px 50px;
    margin-top: 10px;   
}

.bottom-text1 {
    color: #F9FAF8;
    font-size: 25px;
    font-weight: bold;
}

.bottom-text2 {
    color: #F9FAF8;
    font-size: 18px;
}

.footer {
    color: #F9FAF8;
    padding: 20px;
    text-align: center;
}