body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
}


.hero, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    padding: 8px 40px;
    border-radius: 8px;
}


.third-header {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
}